@import url("https://use.typekit.net/yex0jxy.css");
:root {
  --kd-black: #3b394b;
  --kd-tan: #f1e8e3;
  --kd-grey: #f5f9fa;
  --kd-font: century-gothic, sans-serif;
}

body {
  font-family: var(--kd-font);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--kd-font);
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--kd-font);
  font-weight: bold;
}

.h1 {
  font-size: 2em;
}

.h2 {
  font-size: 1.5em;
}

.col {
  display: flex;
  flex-direction: column;
}

.page-width {
  max-width: 1080px;
  padding-left: 55px;
  padding-right: 55px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.flex-auto {
  flex: auto;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.text-right {
  text-align: right;
}

@media (max-width: 1080px) {
  .page-width {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .page-width {
    padding-left: 15px;
    padding-right: 15px;
  }
}